# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python distribution / packages
node_modules/
venv/
Frontend/dist/

# Json files
*.json

# env
.env
.venv
.env.*
!.env.example

.DS_Store
